body
{
    background: rgb(33,136,255);
background: radial-gradient(circle, rgba(33,136,255,1) 0%, rgba(0,92,197,1) 26%, rgba(4,66,137,1) 50%, rgba(3,47,98,1) 75%, rgba(5,38,76,1) 100%);
    color: #f5f0ff;
    font-family: 'Balsamiq Sans', cursive;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

}

.head
{
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 70px;
    text-align: center ;
}



.row
{
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;

    /* border: solid red 2px; */
}

.row > .fa
{
    padding: 3rem;
    margin: 1em;
}

.na
{
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}



.fa 
{
    padding: 10px !important;
    font-size: 4em !important;
    width: 70px !important;
    height: 50px;
    text-align: center !important;
    text-decoration: none !important;
    /* border: solid white 3px; */
    border-radius: 5px;
    cursor: pointer;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
    transition-duration: 1s;
    
}

  .fa:hover 
  {
    opacity: 2;
    transform: scale(2);
  }

  .fa-twitter 
  {
    background: #55ACEE;
    color: white;
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .fa-telegram
  {
      background: #0088CC;
      color: white;
      grid-row: 1/2;
      grid-column: 5/6;
  }

  .fa-instagram
  {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: white;
    grid-row: 1/2;
    grid-column: 4/5;
  }

  .fa-github
  {
    background: #6e5494;
    color: white;
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .fa-youtube
  {
      background: #FF0000;
      color: white;
      grid-row: 1/2;
    grid-column:  3/4;
  }

  .fa-envelope
  {
    background: #000000;
    color: white;
    grid-row: 1/2;
    grid-column: 6/7;
  }