/* *
{
    outline: solid red 1px;
} */
body
{
  display: grid;
  grid-row: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column: 1fr 1fr 1fr 1fr 1fr;
}
.head
{
grid-row: 1/2;
grid-column: 2/6;
justify-items: center;
}

#team
{
  text-align: center;
  justify-items: center;
  align-items: center;
}

.bhashan
{
  grid-row: 3/4;
  grid-column: 1/6;
font-size: 220%;
justify-items: center;
text-align: center;
align-items: center;
padding-top: 5%;
}
#tagline
{
  grid-row:4/5 ;
  grid-column: 1/6;
  font-size: 230%;
  text-align: center;
  align-items: center;
  justify-items: center;
  padding-bottom: 2%;

}
.foot
{
  grid-row: 6/7;
  grid-column: 1/6;
  font-size: 200%;
  text-align: left;
font-display: bold;
background-color:#18315a;
color: aliceblue; 
}
/* .whatweare
{
  grid-row: 2/3;
  grid-column: 1/8;
  font-size: 400%;
  text-align: center;
} */
/* 
  .dheeraj
  {
    grid-row: 3/4;
    grid-column: 1/2;
    text-align: center;
  }
  .tanya
  {
    grid-row: 3/4;
    grid-column: 2/3;
    text-align: center;
  }
  .manan
  {
    grid-row: 3/4;
    grid-column: 3/4;
    text-align: center;
  } */