*
{
    /* outline: solid red 1px; */
    margin: 0;
    padding: 0;
}
body
{
  display: grid;
  grid-row: 2fr 4fr 2fr 2fr;
  grid-column: 1fr 1fr 1fr 1fr 1fr;
  font-family: 'Montserrat', sans-serif;
  background-color: #fcf6f5;
}
.head
{
grid-row: 1/2;
grid-column: 1/6;
display: grid;
justify-items: right;
align-items: center;
background-color: #89abe3;
color: #fcf6f5;
font-size: 20px;
height: 75px;
}

.head > ul
{
  list-style-type: none;
  display:block;
  text-align: center; 
  justify-items: center;
  /* overflow: hidden; */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
  height:100%;

}


li {
  float: left;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 0px 15px;
 
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
 
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

li
{
  float: left;
}



.bhashan
{
  grid-row: 2/3;
  grid-column: 1/6;
font-size: 150%;
justify-items: center;
text-align: center;
align-items: center;
padding-top: 5%;
}
#tagline
{
  grid-row:3/4 ;
  grid-column: 1/6;
  font-size:140%;
  text-align: center;
  align-items: center;
  justify-items: center;
  padding-bottom: 2%;

}
.foot
{
  grid-row: 4/5;
  grid-column: 1/6;
  font-size: 100%;
  text-align: left;
font-display: bold;
background-color:#18315a;
color: aliceblue; 
}
/* .whatweare
{
  grid-row: 2/3;
  grid-column: 1/8;
  font-size: 400%;
  text-align: center;
} */
/* 
  .dheeraj
  {
    grid-row: 3/4;
    grid-column: 1/2;
    text-align: center;
  }
  .tanya
  {
    grid-row: 3/4;
    grid-column: 2/3;
    text-align: center;
  }
  .manan
  {
    grid-row: 3/4;
    grid-column: 3/4;
    text-align: center;
  } */