body
{
	background-color: #8EC5FC;
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  font-family: 'Montserrat', sans-serif;
	color: white;
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;

}

.head
{
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 80px;
    text-align: center ;
	color: black;
}

#ul
{
	border-bottom: solid black 3px;
}

.bhashan
{
    grid-row: 2/3;
    grid-column: 1/5;
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
	  align-items: center;
	  text-align: justify;
	  color: black;
}

#tagline
{
    grid-row: 3/4;
    grid-column: 1/5;
    color: black;
    font-size: 45px;
    text-align: center;
}

/* 
  .dheeraj
  {
    grid-row: 3/4;
    grid-column: 1/2;
    text-align: center;
  }
  .tanya
  {
    grid-row: 3/4;
    grid-column: 2/3;
    text-align: center;
  }
  .manan
  {
    grid-row: 3/4;
    grid-column: 3/4;
    text-align: center;
  } */