* {
    /* outline: solid red 1px; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: grid;
    grid-row: 1fr 3fr 1fr;
    grid-column: 1fr 1fr;
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
    min-height: 100vh;
  }
  .head {
    grid-row: 1/2;
    grid-column: 1/3;
    display: grid;
    justify-items: right;
    align-items: center;
    background-color: #000000;
    color: #4fccfe;
    font-size: 20px;
    min-height: 12vh;
    position: static;
  }
  
  .head > ul {
    list-style-type: none;
    display: block;
    text-align: center;
    justify-items: center;
    /* overflow: hidden; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    height: 100%;
  }
  
  li {
    float: left;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 0px 15px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
  
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }
  
  li {
    float: left;
  }
  
  .midrow {
    grid-row: 2/3;
    grid-column: 1/3;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  
  .links {
    padding: 7%;
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 25px;
    display: grid;
    justify-items: center;
    text-align: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  
  .socials {
    padding: 10%;
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 75px;
    display: grid;
    justify-items: center;
    text-align: center;
    align-items: center;
    background-color: #18152e;
    color: #4fccfe;
  }

  .fa
{
font-size: 50px;
width: 75px;
height: 75px;
text-align: center;
display: grid;
align-items: center;
justify-items: center;
text-decoration: none;
border-radius: 5px;
cursor: pointer;
box-shadow:
0 2.8px 2.2px rgba(0, 0, 0, 0.034),
0 6.7px 5.3px rgba(0, 0, 0, 0.048),
0 12.5px 10px rgba(0, 0, 0, 0.06),
0 22.3px 17.9px rgba(0, 0, 0, 0.072),
0 41.8px 33.4px rgba(0, 0, 0, 0.086),
0 100px 80px rgba(0, 0, 0, 0.12);
transition-duration: 0.5s;
/* padding: 1vh; */
margin: 2vh;
}

.fa:hover
{
opacity: 2;
transform: scale(1.25);
}

.fa-twitter
{
background: #55ACEE;
color: white;

}

.fa-telegram
{
background: #0088CC;
color: white;

}

.fa-instagram
{
background: #d6249f;
background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
color: white;

}

.fa-github
{
background: #6e5494;
color: white;

}

.fa-youtube
{
background: #FF0000;
color: white;

}

.fa-envelope
{
background: #000000;
color: white;

}